@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --nav-color: #29cc8b;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --lightning-color: #fdd068;
}

/* border: 1px solid #000;  لإظهار الحدود للمساعدة في التحقق من المحاذاة  */

body {
  background-color: #f7f9fb !important;
}

.navbar {
  background-color: var(--nav-color);
}

.nav-link.active {
  background-color: #25b87d !important;
  border-radius: 5px;
}

.home-icon {
  color: var(--lightning-color);
}

.item-one {
  background-color: #ffffff;
  cursor: pointer;
  border: 2px solid #ffffff;
  transition: border 0.5s linear;
}

.first-element {
  background-color: #ffffff;
  position: relative;
}

.first-number-color {
  color: #29cc8b !important;
}
.second-number-color {
  color: #ffc542 !important;
}

.first-number-word {
  color: #b4b4b9 !important;
  font-size: 12px !important;
}

.line {
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #f2f2f5 !important;
  top: 16px;
  bottom: 16px;
  right: -25px;
}

.under-line {
  position: relative;
}
.under-line::after {
  content: "";
  position: absolute;
  top: 120%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-color: #adadb5 !important;
  opacity: 0.5;
}

.under-line2 {
  position: relative;
}
.under-line2::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 20%;
  width: 60%;
  height: 1px;
  background-color: #adadb5 !important;
  opacity: 0.5;
}

.item-one .arrow-hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.item-one .arrow-visible {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.item-one:hover {
  border: 2px solid #75b87d;
}

.item-one-icon {
  color: #75b87d;
}

.notification {
  color: white;
}

.icon-of-myData {
  color: #e8c371 !important;
}

.letter-of-name {
  background-color: #063245 !important;
  width: 80px;
  height: 80px;
  border-radius: 30%;
}

.myBorder {
  filter: drop-shadow(0px 0px 1px #b4b4b9);
}

.little-word {
  color: #adadb5 !important;
  font-size: small;
}
.personalDataDetails p{
  font-size: smaller;
}


/* /////////////////Leaves////////////// */
.btn-Of-Leave{
  background-color: #29CC8b !important;
  padding-inline: 40px !important;
}

.smallParagraph
{
  font-size: xx-small;
}

.pointer{
  cursor: pointer;
}

.textToggle{
  width: 50px;
  text-align: center;
}

.displayCol5{
  background-color: #FBFCFB;
  /* background-color: #e8c371; */
}

.elementOne{
  background-color: var(--nav-color);
  width: 30%;
}

.small{
  font-size: 13px !important;
}

.elementThree{
  width: 25%;
  text-align: center;
  font-size: 13px;
}

.elementTwo{
  background-color: var(--nav-color);
}

/*.............الحمـــــــد للــــــــــــــــــــــــــه......*/
/*TODO وهو بيختفي بسلاسه Row ديه بدايه كود ال */
.content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s linear, opacity 0.5s linear;
}

.content.show {
  max-height: 200px; 
  opacity: 1;
}
/*TODO وهو بيختفي بسلاسه Row ديه نهايه كود ال */

/*! ديه الكلمه وهي بتختفي*/
.momo{
  opacity: 1;
  transition: opacity 0.5s linear;
}
.momo.hide{
  opacity: 0;
}
/*! ديه نهايه كود الكلمه وهي بتختفي*/
/*.............الحـــــــمد للــــــــــــــــــــــــــه......*/


.under-line3 {
  position: relative;
}
.under-line3::after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-color: #adadb5 !important;
  opacity: 0.3;
}


.color-in-leaves{
  color: #44444F;
}


.little-word_color {
  color: #adadb5 !important;
}

.fontSmall{
  font-size: 15px;
}

.coloredLineWarning {
  position: relative;
}

.coloredLineWarning::after {
  content: "";
  position: absolute;
  width: 10px;
  background-color: #ffc107 !important;
  top: 0%;
  height: 100%;
  left: 0px;
  border-top-left-radius: 17px; 
  border-bottom-left-radius: 17px; 
}

.coloredLineDanger {
  position: relative;
}

.coloredLineDanger::after {
  content: "";
  position: absolute;
  width: 10px;
  background-color: #dc3545 !important;
  top: 0%;
  height: 100%;
  left: 0px;
  border-top-left-radius: 17px; 
  border-bottom-left-radius: 17px; 
}

.coloredLineSuccess {
  position: relative;
}

.coloredLineSuccess::after {
  content: "";
  position: absolute;
  width: 10px;
  background-color: #28a745 !important;
  top: 0%;
  height: 100%;
  left: 0px;
  border-top-left-radius: 17px; 
  border-bottom-left-radius: 17px; 
}

.textToggle2{
  width: 100px;
  text-align: center;
}

/*................... PopUP in Home .......................... */

.light-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(185, 187, 188 ,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.box-data{
  width: 75%;
  height: 90vh;
  background-color: #FFFFFF;
  overflow:auto ;
}

.under-line100{
  position: relative;
}

.under-line100::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 80%;
  left: 0;
  margin-top: 1px;
  background-color: #44444F;
  opacity: 0.1;
}

.shadowBox{
  filter: drop-shadow(0px 0px 10px #b9bbbc);
}


/*! يختفي لما الشاشه تكبر x الي تحت العنوان وعلامه  PopUP ده الي بيخلي السطر الي تحت التـــلاتـــه  */
/* @media (min-width: 1200px) {
  .under-line100::after{
    opacity: 0;
  }
} */
/*! يختفي لما الشاشه تكبر x الي تحت العنوان وعلامه  PopUP ده الي بيخلي السطر الي تحت التـــلاتـــه  */


.first-popup-word {
  color: #767679 !important;
  font-size: 14px !important;
}

.input-group-annual{
  position: relative;
}

.input-group-annual .fa-angle-down{
  position: absolute;
  color: #767977 !important;
  opacity: 0.6;
}

.input-group-annual input::placeholder{
    font-size: 15px;
}

.input-group-annual input{
  background-color: #FCFCFD !important;
  border: #F0F3F6 2px solid;
}

.input-group-annual input:focus-within{
    border-color: #29cc8b !important; 
    box-shadow: 0 0 0 1px #29cc8b !important;
    outline: none !important;
}


@media (max-width: 1155px) {.input-group-annual input {
  font-size: 14px;
}  }
@media (max-width: 1055px) {.input-group-annual input {
  font-size: 13px;
}  }
@media (max-width: 1005px) {.input-group-annual input {
  font-size: 12px;
}  }

@media (max-width: 953px) {.input-group-annual input {
  font-size: 11px;
}  }

@media (max-width: 903px) {.input-group-annual input {
  font-size: 9px;
}  }

@media (max-width: 805px) {.input-group-annual input {
  font-size: 8px;
}  }

@media (max-width: 767px) {.input-group-annual input {
  font-size: 14px;
}  }

@media (max-width: 724px) {.input-group-annual input {
  font-size: 13px;
}  }

@media (max-width: 690px) {.input-group-annual input {
  font-size: 12px;
}  }
@media (max-width: 655px) {.input-group-annual input {
  font-size: 11px;
}  }
@media (max-width: 622px) {.input-group-annual input {
  font-size: 10px;
}  }
@media (max-width: 588px) {.input-group-annual input {
  font-size: 9px;
}  }
@media (max-width: 555px) {.input-group-annual input {
  font-size: 8px;
}  }
@media (max-width: 522px) {.input-group-annual input {
  font-size: 7px;
}  }


.input-group-annual input[disabled] {
  cursor: auto;
}

.custom-date-range {
  height: 319px; /* يمكنك تعديل هذا الارتفاع حسب الحاجة */
  overflow: auto; /* لإخفاء أي محتوى زائد عن الارتفاع المحدد */
  border-radius: 5PX;
  padding-top: 1PX;
}

.input-group-annual .fa-calendar-days{
  position: absolute;
  color: #29cc8b !important;
  opacity: 0.6;
  font-size: large;
}



/*!     "Textarea البتاع الي شبة الـ"      ReactQuill  ديه حاجــــات الــ   */
.custom-quill-editor {
  margin-bottom: 40px;
}

/* CSS لتحكم في المسافة بين الأدوات في شريط الأدوات */
.custom-quill-toolbar .ql-toolbar .ql-formats button {
  margin-right: 20px; /* المسافة بين الأزرار داخل المجموعة الواحدة */
  margin-left: 20px;
}
.custom-quill-toolbar .ql-toolbar .ql-formats {
  padding: 10px 0px 10px 0px; /* المسافة بين مجموعات الأدوات */
}

.custom-quill-editor .ql-container {
  border: 2px solid #4CAF50;
  border-radius: 8px ;
}

.ql-toolbar.ql-snow{
  border: 0px solid #F0F3F6 !important; 
  border-radius: 15px; 
  background-color: #FCFCFD !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #F0F3F6 !important;
  height: 60px;
}

.ql-container.ql-snow{
  height: 120px;
  background-color: #FCFCFD !important;
  border-radius: 15px; /* إضافة زوايا دائرية */
  border: 0px solid #F0F3F6 !important; 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0 !important;
  z-index: 0;
}

.custom-quill-toolbar .ql-toolbar .ql-formats button .ql-stroke {
  stroke:#98A9BC !important; /* هذا للتحكم في لون الأيقونات التي تعتمد على خط الرسم */
}

.custom-quill-toolbar .ql-toolbar .ql-formats button .ql-fill {
  fill: #98A9BC !important; /* هذا للتحكم في لون الأيقونات التي تعتمد على تعبئة الألوان */
}


/* تغيير اللون عند النقر (حالة النقر) */
.custom-quill-toolbar .ql-toolbar .ql-formats button.ql-active .ql-stroke,
.custom-quill-toolbar .ql-toolbar .ql-formats button.ql-active .ql-fill {
  stroke: #007BFF !important; /* اللون الجديد للأيقونات عند النقر */
}

@media (max-width: 1080px) { /* تعديل لعرض الأزرار على الشاشات الصغيرة */
  .custom-quill-toolbar .ql-toolbar .ql-formats {
    padding: 0px;
  }}


.ql-editor.ql-blank::before{      /*  <----- ReactQuill بتاع ال  Placeholder  ضبط ال  */
  font-style: normal !important;   
  color: #767679 !important;
  font-size: 15px !important;
}

.borderOfQuill{
  border-radius: 15px; /* إضافة زوايا دائرية */
  border: 2px solid #F0F3F6 !important;
}
.borderOfQuill:focus-within { 
    border-color: #29cc8b !important; 
    box-shadow: 0 0 0 1px #29cc8b !important;
    outline: none !important;
}
/*!     "Textarea البتاع الي شبة الـ"      ReactQuill  ديه حاجــــات الــ   */



/*!   Annual Leave Request في ال  button اخــــــــــــــــــــــر اتنـــــــــين */
.uper-line1{
  position: relative;
}

.uper-line1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  margin-bottom: 5px;
  bottom: 100%;
  left: 0;
  background-color: #44444F;
  opacity: 0.1;
}

.btns-of-annualRequest{
  padding: 0px 0px;
}

.btns-of-annualRequest .btn1
{
  width: 100px;
  background-color: #f3f8f4;
  border-radius: 10px;
  border: 1px solid #29cc8b;
  padding: 7px 20px;
  font-weight:500;

}

.btns-of-annualRequest .btn2
{
  width: 100px;
  background-color: #29cc8b;
  border-radius: 10px;
  border: 1px solid #29cc8b;
  padding: 7px 20px;
  font-weight:500;
}
/*!   Annual Leave Request في ال  button اخــــــــــــــــــــــر اتنـــــــــين */






